{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav id="menu-bar" class="block mt-3 close">
    <ul class="flex items-center flex-nowrap whitespace-nowrap overflow-x-auto space-x-4">
      {{- range . }}
        <li>
          <a
            href="{{ .URL }}"
            class="rounded-full border px-6 py-2 bg-zinc-100 hover:bg-zinc-200 font-semibold uppercase"
            {{ if $page.IsMenuCurrent .Menu . }}aria-current="page" style="border-color:#2563eb;"{{ end }}>
            {{ .Name }}
          </a>
        </li>
      {{- end }}
    </ul>
  </nav>
{{- end }}
